
<body class="vh-100 ">
    <div class="container h-100 d-flex justify-content-center align-items-center ">
    <div class="homeContent">
        <h1>Fresh Card</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo rem iste, neque expedita vitae dolor libero facere autem necessitatibus deserunt, deleniti natus ratione sequi voluptatem tenetur amet a esse labore?</p>
        <ul class="list-unstyled d-flex">
            <li class="p-3"><i class="fa-brands fa-facebook fa-beat fa-2x"></i></li>
            <li class="p-3"><i class="fa-brands fa-instagram fa-beat fa-2x "></i></li>
            <li class="p-3"><i class="fa-brands fa-twitter fa-beat fa-2x"></i></li>
            <li class="p-3"><i class="fa-brands fa-linkedin fa-beat fa-2x"></i></li>
            <li class="p-3"><i class="fa-brands fa-github fa-beat fa-2x"></i></li>
        </ul>
    </div>
        <img class="w-50  ms-auto" src="../../../assets/images/sustainable_earth.png" alt="">
    </div>
   
</body>

